USE [master]
GO
/****** Object:  Database [lahman]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE DATABASE [lahman]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lahman', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\lahman.mdf' , SIZE = 195456KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lahman_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\lahman_log.ldf' , SIZE = 1843200KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lahman].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lahman]
GO
/****** Object:  Table [dbo].[PitchingPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PitchingPost](
	[playerID] [nvarchar](20) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[round] [nvarchar](10) NOT NULL,
	[teamID] [nvarchar](4) NULL,
	[lgID] [nvarchar](3) NULL,
	[W] [smallint] NULL,
	[L] [smallint] NULL,
	[G] [smallint] NULL,
	[GS] [smallint] NULL,
	[CG] [smallint] NULL,
	[SHO] [smallint] NULL,
	[SV] [smallint] NULL,
	[IPouts] [int] NULL,
	[H] [smallint] NULL,
	[ER] [smallint] NULL,
	[HR] [smallint] NULL,
	[BB] [smallint] NULL,
	[SO] [smallint] NULL,
	[BAOpp] [float] NULL,
	[ERA] [float] NULL,
	[IBB] [smallint] NULL,
	[WP] [smallint] NULL,
	[HBP] [smallint] NULL,
	[BK] [smallint] NULL,
	[BFP] [smallint] NULL,
	[GF] [smallint] NULL,
	[R] [smallint] NULL,
	[SH] [smallint] NULL,
	[SF] [smallint] NULL,
	[GIDP] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_PitchingPost_year_round_player]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_PitchingPost_year_round_player] ON [dbo].[PitchingPost]
(
	[yearID] ASC,
	[round] ASC,
	[playerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_PitchingPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PitchingPost: (playerID, yearID, teamID, round)
CREATE   VIEW [dbo].[vw_Duplicate_PitchingPost] AS
SELECT playerID, yearID, teamID, round, COUNT(*) AS dup_count
FROM dbo.PitchingPost
GROUP BY playerID, yearID, teamID, round
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[FieldingPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldingPost](
	[playerID] [nvarchar](20) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[teamID] [nvarchar](4) NULL,
	[lgID] [nvarchar](3) NULL,
	[round] [nvarchar](10) NOT NULL,
	[POS] [nvarchar](2) NOT NULL,
	[G] [smallint] NULL,
	[GS] [smallint] NULL,
	[InnOuts] [smallint] NULL,
	[PO] [smallint] NULL,
	[A] [smallint] NULL,
	[E] [smallint] NULL,
	[DP] [smallint] NULL,
	[TP] [smallint] NULL,
	[PB] [smallint] NULL,
	[SB] [smallint] NULL,
	[CS] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_FieldingPost_player_year_team_round_pos]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_FieldingPost_player_year_team_round_pos] ON [dbo].[FieldingPost]
(
	[playerID] ASC,
	[yearID] ASC,
	[teamID] ASC,
	[round] ASC,
	[POS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_FieldingPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FieldingPost: (playerID, yearID, teamID, round, Pos)
CREATE   VIEW [dbo].[vw_Duplicate_FieldingPost] AS
SELECT playerID, yearID, teamID, round, Pos, COUNT(*) AS dup_count
FROM dbo.FieldingPost
GROUP BY playerID, yearID, teamID, round, Pos
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[SeriesPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeriesPost](
	[yearID] [smallint] NOT NULL,
	[round] [nvarchar](10) NOT NULL,
	[teamIDwinner] [nvarchar](4) NULL,
	[lgIDwinner] [nvarchar](3) NULL,
	[teamIDloser] [nvarchar](4) NULL,
	[lgIDloser] [nvarchar](3) NULL,
	[wins] [smallint] NULL,
	[losses] [smallint] NULL,
	[ties] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_SeriesPost_year_round]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_SeriesPost_year_round] ON [dbo].[SeriesPost]
(
	[yearID] ASC,
	[round] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_SeriesPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SeriesPost: (yearID, round)
CREATE   VIEW [dbo].[vw_Duplicate_SeriesPost] AS
SELECT yearID, round, COUNT(*) AS dup_count
FROM dbo.SeriesPost
GROUP BY yearID, round
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[ManagersHalf]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagersHalf](
	[playerID] [nvarchar](20) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[teamID] [nvarchar](4) NOT NULL,
	[lgID] [nvarchar](3) NULL,
	[inseason] [tinyint] NULL,
	[half] [tinyint] NOT NULL,
	[G] [smallint] NULL,
	[W] [smallint] NULL,
	[L] [smallint] NULL,
	[rank] [tinyint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_ManagersHalf_year_team_half]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_ManagersHalf_year_team_half] ON [dbo].[ManagersHalf]
(
	[yearID] ASC,
	[teamID] ASC,
	[half] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_ManagersHalf]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ManagersHalf: (playerID, yearID, teamID, half)
CREATE   VIEW [dbo].[vw_Duplicate_ManagersHalf] AS
SELECT playerID, yearID, teamID, half, COUNT(*) AS dup_count
FROM dbo.ManagersHalf
GROUP BY playerID, yearID, teamID, half
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[TeamsHalf]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamsHalf](
	[yearID] [smallint] NOT NULL,
	[lgID] [nvarchar](3) NOT NULL,
	[teamID] [nvarchar](4) NOT NULL,
	[Half] [tinyint] NOT NULL,
	[divID] [nvarchar](2) NULL,
	[DivWin] [nvarchar](1) NULL,
	[Rank] [tinyint] NULL,
	[G] [smallint] NULL,
	[W] [smallint] NULL,
	[L] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_TeamsHalf_year_team_half]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_TeamsHalf_year_team_half] ON [dbo].[TeamsHalf]
(
	[yearID] ASC,
	[teamID] ASC,
	[Half] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_TeamsHalf]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TeamsHalf: (yearID, lgID, teamID, half)
CREATE   VIEW [dbo].[vw_Duplicate_TeamsHalf] AS
SELECT yearID, lgID, teamID, half, COUNT(*) AS dup_count
FROM dbo.TeamsHalf
GROUP BY yearID, lgID, teamID, half
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[AwardsManagers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardsManagers](
	[playerID] [nvarchar](20) NOT NULL,
	[awardID] [nvarchar](255) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[lgID] [nvarchar](3) NOT NULL,
	[tie] [nvarchar](1) NULL,
	[notes] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_AwardsManagers_player_award_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_AwardsManagers_player_award_year] ON [dbo].[AwardsManagers]
(
	[playerID] ASC,
	[awardID] ASC,
	[yearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_AwardsManagers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- AwardsManagers: (playerID, awardID, yearID, lgID)
CREATE   VIEW [dbo].[vw_Duplicate_AwardsManagers] AS
SELECT playerID, awardID, yearID, lgID, CAST([notes] AS NVARCHAR(MAX)) AS [notes], COUNT(*) AS dup_count
FROM dbo.AwardsManagers
GROUP BY playerID, awardID, yearID, lgID, CAST([notes] AS NVARCHAR(MAX))
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[AwardsPlayers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardsPlayers](
	[playerID] [nvarchar](20) NULL,
	[awardID] [nvarchar](255) NULL,
	[yearID] [int] NULL,
	[lgID] [nvarchar](3) NULL,
	[tie] [nvarchar](1) NULL,
	[notes] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_AwardsPlayers_player_award_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_AwardsPlayers_player_award_year] ON [dbo].[AwardsPlayers]
(
	[playerID] ASC,
	[awardID] ASC,
	[yearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_AwardsPlayers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- AwardsPlayers: (playerID, awardID, yearID, lgID)
CREATE   VIEW [dbo].[vw_Duplicate_AwardsPlayers] AS
SELECT playerID, awardID, yearID, lgID, CAST([notes] AS NVARCHAR(MAX)) AS [notes], COUNT(*) AS dup_count
FROM dbo.AwardsPlayers
GROUP BY playerID, awardID, yearID, lgID, CAST([notes] AS NVARCHAR(MAX))
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[AwardsShareManagers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardsShareManagers](
	[awardID] [nvarchar](255) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[lgID] [nvarchar](3) NOT NULL,
	[playerID] [nvarchar](20) NOT NULL,
	[pointsWon] [smallint] NULL,
	[pointsMax] [smallint] NULL,
	[votesFirst] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_AwardsShareManagers_player_award_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_AwardsShareManagers_player_award_year] ON [dbo].[AwardsShareManagers]
(
	[playerID] ASC,
	[awardID] ASC,
	[yearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_AwardsShareManagers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- AwardsShareManagers: (playerID, awardID, yearID, lgID)
CREATE   VIEW [dbo].[vw_Duplicate_AwardsShareManagers] AS
SELECT playerID, awardID, yearID, lgID, COUNT(*) AS dup_count
FROM dbo.AwardsShareManagers
GROUP BY playerID, awardID, yearID, lgID
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[AwardsSharePlayers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardsSharePlayers](
	[awardID] [nvarchar](255) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[lgID] [nvarchar](3) NOT NULL,
	[playerID] [nvarchar](20) NOT NULL,
	[pointsWon] [smallint] NULL,
	[pointsMax] [smallint] NULL,
	[votesFirst] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_AwardsSharePlayers_player_award_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_AwardsSharePlayers_player_award_year] ON [dbo].[AwardsSharePlayers]
(
	[playerID] ASC,
	[awardID] ASC,
	[yearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_AwardsSharePlayers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- AwardsSharePlayers: (playerID, awardID, yearID, lgID)
CREATE   VIEW [dbo].[vw_Duplicate_AwardsSharePlayers] AS
SELECT playerID, awardID, yearID, lgID, COUNT(*) AS dup_count
FROM dbo.AwardsSharePlayers
GROUP BY playerID, awardID, yearID, lgID
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[HallOfFame]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HallOfFame](
	[playerID] [nvarchar](20) NOT NULL,
	[yearid] [smallint] NOT NULL,
	[votedBy] [nvarchar](255) NOT NULL,
	[ballots] [smallint] NULL,
	[needed] [smallint] NULL,
	[votes] [smallint] NULL,
	[inducted] [nvarchar](1) NULL,
	[category] [nvarchar](100) NULL,
	[needed_note] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_HallOfFame_player_year_votedBy]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_HallOfFame_player_year_votedBy] ON [dbo].[HallOfFame]
(
	[playerID] ASC,
	[yearid] ASC,
	[votedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_HallOfFame]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- HallOfFame: (playerID, yearID, votedBy)
CREATE   VIEW [dbo].[vw_Duplicate_HallOfFame] AS
SELECT playerID, yearID, votedBy, COUNT(*) AS dup_count
FROM dbo.HallOfFame
GROUP BY playerID, yearID, votedBy
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[CollegePlaying]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollegePlaying](
	[playerID] [nvarchar](20) NOT NULL,
	[schoolID] [nvarchar](20) NULL,
	[yearID] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_CollegePlaying_player_year_school]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_CollegePlaying_player_year_school] ON [dbo].[CollegePlaying]
(
	[playerID] ASC,
	[yearID] ASC,
	[schoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_CollegePlaying]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CollegePlaying: (playerID, schoolID, year)
CREATE   VIEW [dbo].[vw_Duplicate_CollegePlaying] AS
SELECT playerID, schoolID, yearID, COUNT(*) AS dup_count
FROM dbo.CollegePlaying
GROUP BY playerID, schoolID, yearID
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[yearID] [smallint] NOT NULL,
	[teamID] [nvarchar](4) NOT NULL,
	[lgID] [nvarchar](3) NOT NULL,
	[playerID] [nvarchar](20) NOT NULL,
	[salary] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_Salaries_player_year_team]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_Salaries_player_year_team] ON [dbo].[Salaries]
(
	[playerID] ASC,
	[yearID] ASC,
	[teamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_Salaries]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Salaries: (yearID, teamID, lgID, playerID)
CREATE   VIEW [dbo].[vw_Duplicate_Salaries] AS
SELECT yearID, teamID, lgID, playerID, COUNT(*) AS dup_count
FROM dbo.Salaries
GROUP BY yearID, teamID, lgID, playerID
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schools](
	[schoolID] [nvarchar](20) NOT NULL,
	[name_full] [nvarchar](255) NULL,
	[city] [nvarchar](100) NULL,
	[state] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_Schools_schoolID]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_Schools_schoolID] ON [dbo].[Schools]
(
	[schoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_Schools]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Schools: (schoolID)
CREATE   VIEW [dbo].[vw_Duplicate_Schools] AS
SELECT schoolID, COUNT(*) AS dup_count
FROM dbo.Schools
GROUP BY schoolID
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[HomeGames]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeGames](
	[yearkey] [int] NULL,
	[leaguekey] [nvarchar](3) NULL,
	[teamkey] [nvarchar](4) NULL,
	[parkkey] [nvarchar](20) NULL,
	[spanfirst] [nvarchar](10) NULL,
	[spanlast] [nvarchar](10) NULL,
	[games] [smallint] NULL,
	[openings] [smallint] NULL,
	[attendance] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_HomeGames_year_team_park]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_HomeGames_year_team_park] ON [dbo].[HomeGames]
(
	[yearkey] ASC,
	[teamkey] ASC,
	[parkkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_HomeGames]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- HomeGames: (yearkey, leaguekey, teamkey, parkkey)
CREATE   VIEW [dbo].[vw_Duplicate_HomeGames] AS
SELECT yearkey, leaguekey, teamkey, parkkey, COUNT(*) AS dup_count
FROM dbo.HomeGames
GROUP BY yearkey, leaguekey, teamkey, parkkey
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[People]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[ID] [int] NOT NULL,
	[playerID] [nvarchar](20) NOT NULL,
	[birthYear] [int] NULL,
	[birthMonth] [int] NULL,
	[birthDay] [int] NULL,
	[birthCity] [nvarchar](100) NULL,
	[birthCountry] [nvarchar](50) NULL,
	[birthState] [nvarchar](50) NULL,
	[deathYear] [int] NULL,
	[deathMonth] [int] NULL,
	[deathDay] [int] NULL,
	[deathCountry] [nvarchar](50) NULL,
	[deathState] [nvarchar](50) NULL,
	[deathCity] [nvarchar](100) NULL,
	[nameFirst] [nvarchar](100) NULL,
	[nameLast] [nvarchar](100) NULL,
	[nameGiven] [nvarchar](100) NULL,
	[weight] [nvarchar](10) NULL,
	[height] [nvarchar](10) NULL,
	[bats] [nvarchar](10) NULL,
	[throws] [nvarchar](10) NULL,
	[debut] [nvarchar](20) NULL,
	[bbrefID] [nvarchar](20) NULL,
	[finalGame] [nvarchar](20) NULL,
	[retroID] [nvarchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_People_playerID]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_People_playerID] ON [dbo].[People]
(
	[playerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_People]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- People: playerID should be unique
CREATE   VIEW [dbo].[vw_Duplicate_People] AS
SELECT playerID, COUNT(*) AS dup_count
FROM dbo.People
GROUP BY playerID
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[yearID] [smallint] NOT NULL,
	[lgID] [nvarchar](3) NOT NULL,
	[teamID] [nvarchar](4) NOT NULL,
	[franchID] [nvarchar](4) NULL,
	[divID] [nvarchar](2) NULL,
	[Rank] [tinyint] NULL,
	[G] [smallint] NULL,
	[Ghome] [smallint] NULL,
	[W] [smallint] NULL,
	[L] [smallint] NULL,
	[DivWin] [nvarchar](1) NULL,
	[WCWin] [nvarchar](1) NULL,
	[LgWin] [nvarchar](1) NULL,
	[WSWin] [nvarchar](1) NULL,
	[R] [smallint] NULL,
	[AB] [smallint] NULL,
	[H] [smallint] NULL,
	[2B] [smallint] NULL,
	[3B] [smallint] NULL,
	[HR] [smallint] NULL,
	[BB] [smallint] NULL,
	[SO] [smallint] NULL,
	[SB] [smallint] NULL,
	[CS] [smallint] NULL,
	[HBP] [smallint] NULL,
	[SF] [smallint] NULL,
	[RA] [smallint] NULL,
	[ER] [smallint] NULL,
	[ERA] [float] NULL,
	[CG] [smallint] NULL,
	[SHO] [smallint] NULL,
	[SV] [smallint] NULL,
	[IPouts] [smallint] NULL,
	[HA] [smallint] NULL,
	[HRA] [smallint] NULL,
	[BBA] [smallint] NULL,
	[SOA] [smallint] NULL,
	[E] [smallint] NULL,
	[DP] [smallint] NULL,
	[FP] [float] NULL,
	[name] [nvarchar](100) NULL,
	[park] [nvarchar](255) NULL,
	[attendance] [int] NULL,
	[BPF] [tinyint] NULL,
	[PPF] [tinyint] NULL,
	[teamIDBR] [nvarchar](4) NULL,
	[teamIDlahman45] [nvarchar](4) NULL,
	[teamIDretro] [nvarchar](4) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_Teams_year_team]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_Teams_year_team] ON [dbo].[Teams]
(
	[yearID] ASC,
	[teamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_Teams]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Teams: (yearID, lgID, teamID)
CREATE   VIEW [dbo].[vw_Duplicate_Teams] AS
SELECT yearID, lgID, teamID, COUNT(*) AS dup_count
FROM dbo.Teams
GROUP BY yearID, lgID, teamID
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[Batting]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batting](
	[playerID] [nvarchar](20) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[stint] [tinyint] NOT NULL,
	[teamID] [nvarchar](4) NULL,
	[lgID] [nvarchar](3) NULL,
	[G] [smallint] NULL,
	[AB] [smallint] NULL,
	[R] [smallint] NULL,
	[H] [smallint] NULL,
	[2B] [smallint] NULL,
	[3B] [smallint] NULL,
	[HR] [smallint] NULL,
	[RBI] [smallint] NULL,
	[SB] [smallint] NULL,
	[CS] [smallint] NULL,
	[BB] [smallint] NULL,
	[SO] [smallint] NULL,
	[IBB] [smallint] NULL,
	[HBP] [smallint] NULL,
	[SH] [smallint] NULL,
	[SF] [smallint] NULL,
	[GIDP] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_Batting_player_year_stint]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_Batting_player_year_stint] ON [dbo].[Batting]
(
	[playerID] ASC,
	[yearID] ASC,
	[stint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_Batting]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Batting: (playerID, yearID, stint, teamID)
CREATE   VIEW [dbo].[vw_Duplicate_Batting] AS
SELECT playerID, yearID, stint, teamID, COUNT(*) AS dup_count
FROM dbo.Batting
GROUP BY playerID, yearID, stint, teamID
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[Pitching]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pitching](
	[playerID] [nvarchar](20) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[stint] [tinyint] NOT NULL,
	[teamID] [nvarchar](4) NULL,
	[lgID] [nvarchar](3) NULL,
	[W] [smallint] NULL,
	[L] [smallint] NULL,
	[G] [smallint] NULL,
	[GS] [smallint] NULL,
	[CG] [smallint] NULL,
	[SHO] [smallint] NULL,
	[SV] [smallint] NULL,
	[IPouts] [smallint] NULL,
	[H] [smallint] NULL,
	[ER] [smallint] NULL,
	[HR] [smallint] NULL,
	[BB] [smallint] NULL,
	[SO] [smallint] NULL,
	[BAOpp] [float] NULL,
	[ERA] [float] NULL,
	[IBB] [smallint] NULL,
	[WP] [smallint] NULL,
	[HBP] [smallint] NULL,
	[BK] [smallint] NULL,
	[BFP] [smallint] NULL,
	[GF] [smallint] NULL,
	[R] [smallint] NULL,
	[SH] [smallint] NULL,
	[SF] [smallint] NULL,
	[GIDP] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_Pitching_player_year_stint]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_Pitching_player_year_stint] ON [dbo].[Pitching]
(
	[playerID] ASC,
	[yearID] ASC,
	[stint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_Pitching]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Pitching: (playerID, yearID, stint, teamID)
CREATE   VIEW [dbo].[vw_Duplicate_Pitching] AS
SELECT playerID, yearID, stint, teamID, COUNT(*) AS dup_count
FROM dbo.Pitching
GROUP BY playerID, yearID, stint, teamID
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[Fielding]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fielding](
	[playerID] [nvarchar](20) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[stint] [tinyint] NOT NULL,
	[teamID] [nvarchar](4) NULL,
	[lgID] [nvarchar](3) NULL,
	[POS] [nvarchar](2) NOT NULL,
	[G] [smallint] NULL,
	[GS] [smallint] NULL,
	[InnOuts] [smallint] NULL,
	[PO] [smallint] NULL,
	[A] [smallint] NULL,
	[E] [smallint] NULL,
	[DP] [smallint] NULL,
	[PB] [smallint] NULL,
	[WP] [smallint] NULL,
	[SB] [smallint] NULL,
	[CS] [smallint] NULL,
	[ZR] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_Fielding_player_year_stint_pos]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_Fielding_player_year_stint_pos] ON [dbo].[Fielding]
(
	[playerID] ASC,
	[yearID] ASC,
	[stint] ASC,
	[POS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_Fielding]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Fielding: (playerID, yearID, stint, teamID, Pos)
CREATE   VIEW [dbo].[vw_Duplicate_Fielding] AS
SELECT playerID, yearID, stint, teamID, Pos, COUNT(*) AS dup_count
FROM dbo.Fielding
GROUP BY playerID, yearID, stint, teamID, Pos
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[FieldingOF]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldingOF](
	[playerID] [nvarchar](20) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[stint] [tinyint] NOT NULL,
	[Glf] [smallint] NULL,
	[Gcf] [smallint] NULL,
	[Grf] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_FieldingOF_player_year_stint]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_FieldingOF_player_year_stint] ON [dbo].[FieldingOF]
(
	[playerID] ASC,
	[yearID] ASC,
	[stint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_FieldingOF]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FieldingOF: (playerID, yearID, stint)
CREATE   VIEW [dbo].[vw_Duplicate_FieldingOF] AS
SELECT playerID, yearID, stint, COUNT(*) AS dup_count
FROM dbo.FieldingOF
GROUP BY playerID, yearID, stint
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[FieldingOFsplit]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldingOFsplit](
	[playerID] [nvarchar](20) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[stint] [tinyint] NOT NULL,
	[teamID] [nvarchar](4) NULL,
	[lgID] [nvarchar](3) NULL,
	[POS] [nvarchar](2) NOT NULL,
	[G] [smallint] NULL,
	[GS] [smallint] NULL,
	[InnOuts] [smallint] NULL,
	[PO] [smallint] NULL,
	[A] [smallint] NULL,
	[E] [smallint] NULL,
	[DP] [smallint] NULL,
	[PB] [smallint] NULL,
	[WP] [smallint] NULL,
	[SB] [smallint] NULL,
	[CS] [smallint] NULL,
	[ZR] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_FieldingOFsplit_player_year_stint_pos]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_FieldingOFsplit_player_year_stint_pos] ON [dbo].[FieldingOFsplit]
(
	[playerID] ASC,
	[yearID] ASC,
	[stint] ASC,
	[POS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_FieldingOFsplit]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FieldingOFsplit: (playerID, yearID, stint, teamID, Pos)
CREATE   VIEW [dbo].[vw_Duplicate_FieldingOFsplit] AS
SELECT playerID, yearID, stint, teamID, Pos, COUNT(*) AS dup_count
FROM dbo.FieldingOFsplit
GROUP BY playerID, yearID, stint, teamID, Pos
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[Appearances]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appearances](
	[yearID] [smallint] NOT NULL,
	[teamID] [nvarchar](4) NOT NULL,
	[lgID] [nvarchar](3) NULL,
	[playerID] [nvarchar](20) NOT NULL,
	[G_all] [smallint] NULL,
	[GS] [smallint] NULL,
	[G_batting] [smallint] NULL,
	[G_defense] [smallint] NULL,
	[G_p] [smallint] NULL,
	[G_c] [smallint] NULL,
	[G_1b] [smallint] NULL,
	[G_2b] [smallint] NULL,
	[G_3b] [smallint] NULL,
	[G_ss] [smallint] NULL,
	[G_lf] [smallint] NULL,
	[G_cf] [smallint] NULL,
	[G_rf] [smallint] NULL,
	[G_of] [smallint] NULL,
	[G_dh] [smallint] NULL,
	[G_ph] [smallint] NULL,
	[G_pr] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_Appearances_player_year_team]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_Appearances_player_year_team] ON [dbo].[Appearances]
(
	[playerID] ASC,
	[yearID] ASC,
	[teamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_Appearances]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Appearances: (yearID, teamID, playerID)
CREATE   VIEW [dbo].[vw_Duplicate_Appearances] AS
SELECT yearID, teamID, playerID, COUNT(*) AS dup_count
FROM dbo.Appearances
GROUP BY yearID, teamID, playerID
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[playerID] [nvarchar](20) NULL,
	[yearID] [smallint] NOT NULL,
	[teamID] [nvarchar](4) NOT NULL,
	[lgID] [nvarchar](3) NULL,
	[inseason] [tinyint] NOT NULL,
	[G] [smallint] NULL,
	[W] [smallint] NULL,
	[L] [smallint] NULL,
	[rank] [tinyint] NULL,
	[plyrMgr] [nvarchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_Managers_year_team_inseason]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_Managers_year_team_inseason] ON [dbo].[Managers]
(
	[yearID] ASC,
	[teamID] ASC,
	[inseason] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_Managers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Managers: (playerID, yearID, teamID, inseason)
CREATE   VIEW [dbo].[vw_Duplicate_Managers] AS
SELECT playerID, yearID, teamID, inseason, COUNT(*) AS dup_count
FROM dbo.Managers
GROUP BY playerID, yearID, teamID, inseason
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[AllstarFull]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllstarFull](
	[playerID] [nvarchar](20) NULL,
	[yearID] [smallint] NULL,
	[gameNum] [tinyint] NULL,
	[gameID] [nvarchar](20) NULL,
	[teamID] [nvarchar](4) NULL,
	[lgID] [nvarchar](3) NULL,
	[GP] [tinyint] NULL,
	[startingPos] [nvarchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_AllstarFull_player_year_game]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_AllstarFull_player_year_game] ON [dbo].[AllstarFull]
(
	[playerID] ASC,
	[yearID] ASC,
	[gameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_AllStarFull]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Duplicate_AllStarFull] AS
SELECT playerID, yearID, [lgID], ISNULL(gameNum,0) AS gameNum, COUNT(*) AS dup_count
FROM dbo.AllStarFull
GROUP BY playerID, yearID, [lgID], ISNULL(gameNum,0)
HAVING COUNT(*) > 1;
GO
/****** Object:  Table [dbo].[BattingPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BattingPost](
	[yearID] [smallint] NOT NULL,
	[round] [nvarchar](10) NOT NULL,
	[playerID] [nvarchar](20) NOT NULL,
	[teamID] [nvarchar](4) NULL,
	[lgID] [nvarchar](3) NULL,
	[G] [smallint] NULL,
	[AB] [smallint] NULL,
	[R] [smallint] NULL,
	[H] [smallint] NULL,
	[2B] [smallint] NULL,
	[3B] [smallint] NULL,
	[HR] [smallint] NULL,
	[RBI] [smallint] NULL,
	[SB] [smallint] NULL,
	[CS] [smallint] NULL,
	[BB] [smallint] NULL,
	[SO] [smallint] NULL,
	[IBB] [smallint] NULL,
	[HBP] [smallint] NULL,
	[SH] [smallint] NULL,
	[SF] [smallint] NULL,
	[GIDP] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_BattingPost_year_round_player]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_BattingPost_year_round_player] ON [dbo].[BattingPost]
(
	[yearID] ASC,
	[round] ASC,
	[playerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_BattingPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- BattingPost: (playerID, yearID, teamID, round)
CREATE   VIEW [dbo].[vw_Duplicate_BattingPost] AS
SELECT playerID, yearID, teamID, round, COUNT(*) AS dup_count
FROM dbo.BattingPost
GROUP BY playerID, yearID, teamID, round
HAVING COUNT(*) > 1;
GO
/****** Object:  View [dbo].[vw_Duplicate_All]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     VIEW [dbo].[vw_Duplicate_All] AS
SELECT 'People' AS table_name, COUNT(*) AS dup_groups, 'SELECT * FROM vw_Duplicate_People' AS [query] FROM dbo.vw_Duplicate_People
UNION ALL SELECT 'Teams', COUNT(*), 'SELECT * FROM vw_Duplicate_Teams' FROM dbo.vw_Duplicate_Teams
UNION ALL SELECT 'Batting', COUNT(*), 'SELECT * FROM vw_Duplicate_Batting' FROM dbo.vw_Duplicate_Batting
UNION ALL SELECT 'Pitching', COUNT(*), 'SELECT * FROM vw_Duplicate_Pitching' FROM dbo.vw_Duplicate_Pitching
UNION ALL SELECT 'Fielding', COUNT(*), 'SELECT * FROM vw_Duplicate_Fielding' FROM dbo.vw_Duplicate_Fielding
UNION ALL SELECT 'FieldingOF', COUNT(*), 'SELECT * FROM vw_Duplicate_FieldingOF' FROM dbo.vw_Duplicate_FieldingOF
UNION ALL SELECT 'FieldingOFsplit', COUNT(*), 'SELECT * FROM vw_Duplicate_FieldingOFsplit' FROM dbo.vw_Duplicate_FieldingOFsplit
UNION ALL SELECT 'Appearances', COUNT(*), 'SELECT * FROM vw_Duplicate_Appearances' FROM dbo.vw_Duplicate_Appearances
UNION ALL SELECT 'Managers', COUNT(*), 'SELECT * FROM vw_Duplicate_Managers' FROM dbo.vw_Duplicate_Managers
UNION ALL SELECT 'AllStarFull', COUNT(*), 'SELECT * FROM vw_Duplicate_AllStarFull' FROM dbo.vw_Duplicate_AllStarFull
UNION ALL SELECT 'BattingPost', COUNT(*), 'SELECT * FROM vw_Duplicate_BattingPost' FROM dbo.vw_Duplicate_BattingPost
UNION ALL SELECT 'PitchingPost', COUNT(*), 'SELECT * FROM vw_Duplicate_PitchingPost' FROM dbo.vw_Duplicate_PitchingPost
UNION ALL SELECT 'FieldingPost', COUNT(*), 'SELECT * FROM vw_Duplicate_FieldingPost' FROM dbo.vw_Duplicate_FieldingPost
UNION ALL SELECT 'SeriesPost', COUNT(*), 'SELECT * FROM vw_Duplicate_SeriesPost' FROM dbo.vw_Duplicate_SeriesPost
UNION ALL SELECT 'ManagersHalf', COUNT(*), 'SELECT * FROM vw_Duplicate_ManagersHalf' FROM dbo.vw_Duplicate_ManagersHalf
UNION ALL SELECT 'TeamsHalf', COUNT(*), 'SELECT * FROM vw_Duplicate_TeamsHalf' FROM dbo.vw_Duplicate_TeamsHalf
UNION ALL SELECT 'AwardsManagers', COUNT(*), 'SELECT * FROM vw_Duplicate_AwardsManagers' FROM dbo.vw_Duplicate_AwardsManagers
UNION ALL SELECT 'AwardsPlayers', COUNT(*), 'SELECT * FROM vw_Duplicate_AwardsPlayers' FROM dbo.vw_Duplicate_AwardsPlayers
UNION ALL SELECT 'AwardsShareManagers', COUNT(*), 'SELECT * FROM vw_Duplicate_AwardsShareManagers' FROM dbo.vw_Duplicate_AwardsShareManagers
UNION ALL SELECT 'AwardsSharePlayers', COUNT(*), 'SELECT * FROM vw_Duplicate_AwardsSharePlayers' FROM dbo.vw_Duplicate_AwardsSharePlayers
UNION ALL SELECT 'HallOfFame', COUNT(*), 'SELECT * FROM vw_Duplicate_HallOfFame' FROM dbo.vw_Duplicate_HallOfFame
UNION ALL SELECT 'CollegePlaying', COUNT(*), 'SELECT * FROM vw_Duplicate_CollegePlaying' FROM dbo.vw_Duplicate_CollegePlaying
UNION ALL SELECT 'Salaries', COUNT(*), 'SELECT * FROM vw_Duplicate_Salaries' FROM dbo.vw_Duplicate_Salaries
UNION ALL SELECT 'HomeGames', COUNT(*), 'SELECT * FROM vw_Duplicate_HomeGames' FROM dbo.vw_Duplicate_HomeGames
GO
/****** Object:  View [dbo].[vw_Errors_Chrono_BirthDeath]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Birth/death chronological issues
CREATE   VIEW [dbo].[vw_Errors_Chrono_BirthDeath] AS
SELECT playerID, birthYear, deathYear
FROM dbo.People
WHERE deathYear IS NOT NULL AND birthYear IS NOT NULL
  AND deathYear < birthYear;
GO
/****** Object:  View [dbo].[vw_Errors_Chrono_DebutFinal]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Debut occurs after finalGame (reversed)
CREATE   VIEW [dbo].[vw_Errors_Chrono_DebutFinal] AS
SELECT playerID, debut, finalGame
FROM dbo.People
WHERE debut IS NOT NULL AND finalGame IS NOT NULL
  AND debut > finalGame;
GO
/****** Object:  View [dbo].[vw_Errors_Chrono_CollegeAfterDeath]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CollegePlaying after death year
CREATE   VIEW [dbo].[vw_Errors_Chrono_CollegeAfterDeath] AS
SELECT c.playerID, c.yearID AS collegeYear, p.deathYear
FROM dbo.CollegePlaying c
JOIN dbo.People p ON p.playerID = c.playerID
WHERE p.deathYear IS NOT NULL AND c.yearID > p.deathYear;
GO
/****** Object:  View [dbo].[vw_Errors_Chrono_StatsBeforeBirth]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stats before player’s birth year
CREATE   VIEW [dbo].[vw_Errors_Chrono_StatsBeforeBirth] AS
SELECT b.playerID, b.yearID, p.birthYear
FROM dbo.Batting b
JOIN dbo.People p ON p.playerID = b.playerID
WHERE p.birthYear IS NOT NULL AND b.yearID < p.birthYear;
GO
/****** Object:  View [dbo].[vw_Errors_Chrono]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Chronological rollup
CREATE     VIEW [dbo].[vw_Errors_Chrono] AS
SELECT 'Birth/Death' AS check_type, COUNT(*) AS issue_count, 'SELECT * FROM vw_Errors_Missing_PlayerNames' AS [query] FROM dbo.vw_Errors_Chrono_BirthDeath
UNION ALL
SELECT 'Debut > Final', COUNT(*), 'SELECT * FROM vw_Errors_Chrono_DebutFinal' FROM dbo.vw_Errors_Chrono_DebutFinal
UNION ALL
SELECT 'CollegeAfterDeath', COUNT(*), 'SELECT * FROM vw_Errors_Chrono_CollegeAfterDeath' FROM dbo.vw_Errors_Chrono_CollegeAfterDeath
UNION ALL
SELECT 'StatsBeforeBirth', COUNT(*), 'SELECT * FROM vw_Errors_Chrono_StatsBeforeBirth' FROM dbo.vw_Errors_Chrono_StatsBeforeBirth;
GO
/****** Object:  View [dbo].[vw_Errors_Stats_Negative_Batting]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Negative batting stats
CREATE   VIEW [dbo].[vw_Errors_Stats_Negative_Batting] AS
SELECT playerID, yearID, teamID, G, AB, H
FROM dbo.Batting
WHERE G < 0 OR AB < 0 OR H < 0;
GO
/****** Object:  View [dbo].[vw_Errors_Stats_Negative_Pitching]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Negative pitching stats
CREATE   VIEW [dbo].[vw_Errors_Stats_Negative_Pitching] AS
SELECT playerID, yearID, teamID, W, L, G, SO, BB
FROM dbo.Pitching
WHERE W < 0 OR L < 0 OR G < 0 OR SO < 0 OR BB < 0;
GO
/****** Object:  View [dbo].[vw_Errors_Stats_Managers_WLG]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Managers: W + L must equal G (roughly)
CREATE     VIEW [dbo].[vw_Errors_Stats_Managers_WLG] AS
SELECT playerID, yearID, teamID, W, L, G, G - (W + L) AS Diff
FROM dbo.Managers
WHERE W IS NOT NULL AND L IS NOT NULL AND G IS NOT NULL
  AND W + L <> G AND [yearID] > 2016;
GO
/****** Object:  View [dbo].[vw_Errors_Stats_Team_WinLoss_Imbalance]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     VIEW [dbo].[vw_Errors_Stats_Team_WinLoss_Imbalance] AS
SELECT yearID, CASE lgID WHEN 'AL' THEN 'MLB' WHEN 'NL' THEN 'MLB' ELSE lgID END AS 'lgID', SUM(W) AS totalW, SUM(L) AS totalL
FROM dbo.Teams
WHERE [lgID] NOT IN ('EAS','WES','IND')
GROUP BY yearID, CASE lgID WHEN 'AL' THEN 'MLB' WHEN 'NL' THEN 'MLB' ELSE lgID END
HAVING SUM(W) <> SUM(L) AND COUNT(*)%2 <> 1;
GO
/****** Object:  View [dbo].[vw_Errors_Stats_Team_FP_Invalid]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Fielding: FP outside 0–1 range
CREATE   VIEW [dbo].[vw_Errors_Stats_Team_FP_Invalid] AS
SELECT yearID, teamID, FP
FROM dbo.Teams
WHERE FP < 0 OR FP > 1;
GO
/****** Object:  View [dbo].[vw_Errors_Stats_Salary_Invalid]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Salaries: negative or zero (invalid)
CREATE   VIEW [dbo].[vw_Errors_Stats_Salary_Invalid] AS
SELECT playerID, yearID, teamID, salary
FROM dbo.Salaries
WHERE salary <= 0;
GO
/****** Object:  View [dbo].[vw_Errors_Stats]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Stats sanity rollup
CREATE     VIEW [dbo].[vw_Errors_Stats] AS
SELECT 'Negative_Batting' AS check_type, COUNT(*) AS issue_count, 'SELECT * FROM vw_Errors_Stats_Negative_Batting' AS [query] FROM dbo.vw_Errors_Stats_Negative_Batting
UNION ALL SELECT 'Negative_Pitching', COUNT(*), 'SELECT * FROM vw_Errors_Stats_Negative_Pitching' FROM dbo.vw_Errors_Stats_Negative_Pitching
UNION ALL SELECT 'Manager_W+L<>G', COUNT(*), 'SELECT * FROM vw_Errors_Stats_Managers_WLG' FROM dbo.vw_Errors_Stats_Managers_WLG
UNION ALL SELECT 'League_WinLoss_Imbalance', COUNT(*), 'SELECT * FROM vw_Errors_Stats_Team_WinLoss_Imbalance' FROM dbo.vw_Errors_Stats_Team_WinLoss_Imbalance
UNION ALL SELECT 'Team_FP_Invalid', COUNT(*), 'SELECT * FROM vw_Errors_Stats_Team_FP_Invalid' FROM dbo.vw_Errors_Stats_Team_FP_Invalid
UNION ALL SELECT 'Salary_Invalid', COUNT(*), 'SELECT * FROM vw_Errors_Stats_Salary_Invalid' FROM dbo.vw_Errors_Stats_Salary_Invalid;
GO
/****** Object:  View [dbo].[vw_Errors_Missing_PlayerNames]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Missing player names
CREATE   VIEW [dbo].[vw_Errors_Missing_PlayerNames] AS
SELECT playerID
FROM dbo.People
WHERE nameLast IS NULL;
GO
/****** Object:  View [dbo].[vw_Errors_Missing_TeamFranchise]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Missing team franchise ID
CREATE   VIEW [dbo].[vw_Errors_Missing_TeamFranchise] AS
SELECT yearID, teamID
FROM dbo.Teams
WHERE franchID IS NULL;
GO
/****** Object:  Table [dbo].[Parks]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parks](
	[ID] [int] NOT NULL,
	[parkalias] [nvarchar](512) NULL,
	[parkkey] [nvarchar](20) NULL,
	[parkname] [nvarchar](255) NULL,
	[city] [nvarchar](100) NULL,
	[state] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [CX_Parks_ID]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_Parks_ID] ON [dbo].[Parks]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Errors_Missing_ParkLocation]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Errors_Missing_ParkLocation] AS
SELECT parkkey, parkname
FROM dbo.Parks
WHERE city IS NULL OR ([state] IS NULL AND [country] <> 'PR');
GO
/****** Object:  View [dbo].[vw_Errors_Missing_SchoolLocation]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Missing school location
CREATE   VIEW [dbo].[vw_Errors_Missing_SchoolLocation] AS
SELECT schoolID, name_full
FROM dbo.Schools
WHERE [City] IS NULL OR [State] IS NULL;
GO
/****** Object:  View [dbo].[vw_Errors_Missing]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Coverage rollup
CREATE     VIEW [dbo].[vw_Errors_Missing] AS
SELECT 'Missing_PlayerNames' AS check_type, COUNT(*) AS issue_count, 'SELECT * FROM vw_Errors_Missing_PlayerNames' AS [query] FROM dbo.vw_Errors_Missing_PlayerNames
UNION ALL SELECT 'Missing_TeamFranchise', COUNT(*), 'SELECT * FROM vw_Errors_Missing_TeamFranchise' FROM dbo.vw_Errors_Missing_TeamFranchise
UNION ALL SELECT 'Missing_ParkLocation', COUNT(*), 'SELECT * FROM vw_Errors_Missing_ParkLocation' FROM dbo.vw_Errors_Missing_ParkLocation
UNION ALL SELECT 'Missing_SchoolLocation', COUNT(*), 'SELECT * FROM vw_Errors_Missing_SchoolLocation' FROM dbo.vw_Errors_Missing_SchoolLocation
GO
/****** Object:  View [dbo].[vw_Orphan_Player_AwardsShareManagers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_Orphan_Player_AwardsShareManagers] AS
SELECT DISTINCT 'AwardsShareManagers' AS table_name, a.playerID, a.yearID, NULL AS teamID, a.lgID
FROM dbo.AwardsShareManagers a
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = a.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_AwardsSharePlayers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_Orphan_Player_AwardsSharePlayers] AS
SELECT DISTINCT 'AwardsSharePlayers' AS table_name, a.playerID, a.yearID, NULL AS teamID, a.lgID
FROM dbo.AwardsSharePlayers a
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = a.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_HallOfFame]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- HallOfFame
CREATE   VIEW [dbo].[vw_Orphan_Player_HallOfFame] AS
SELECT DISTINCT 'HallOfFame' AS table_name, h.playerID, h.yearID, NULL AS teamID, NULL AS lgID
FROM dbo.HallOfFame h
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = h.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_CollegePlaying]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CollegePlaying (note: column is 'playerid' lowercase in your spec)
CREATE   VIEW [dbo].[vw_Orphan_Player_CollegePlaying] AS
SELECT DISTINCT 'CollegePlaying' AS table_name, c.playerid AS playerID, c.yearID AS yearID, NULL AS teamID, NULL AS lgID
FROM dbo.CollegePlaying c
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = c.playerid);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_Salaries]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Salaries
CREATE   VIEW [dbo].[vw_Orphan_Player_Salaries] AS
SELECT DISTINCT 'Salaries' AS table_name, s.playerID, s.yearID, s.teamID, s.lgID
FROM dbo.Salaries s
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = s.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_Batting]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Helper: consistent null/trim handling (optional; remove if you don't need it)
-- (If your IDs are clean, skip this UDF.)
-- CREATE OR ALTER FUNCTION dbo._norm(@s varchar(50)) RETURNS varchar(50) AS
-- BEGIN RETURN LTRIM(RTRIM(@s)); END
-- GO

-- Batting
CREATE   VIEW [dbo].[vw_Orphan_Player_Batting] AS
SELECT DISTINCT 'Batting' AS table_name, b.playerID, b.yearID, b.teamID, b.lgID
FROM dbo.Batting b
WHERE NOT EXISTS (SELECT 1 FROM dbo.People p WHERE p.playerID = b.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_Pitching]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Pitching
CREATE   VIEW [dbo].[vw_Orphan_Player_Pitching] AS
SELECT DISTINCT 'Pitching' AS table_name, p.playerID, p.yearID, p.teamID, p.lgID
FROM dbo.Pitching p
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = p.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_Fielding]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Fielding
CREATE   VIEW [dbo].[vw_Orphan_Player_Fielding] AS
SELECT DISTINCT 'Fielding' AS table_name, f.playerID, f.yearID, f.teamID, f.lgID
FROM dbo.Fielding f
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = f.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_FieldingOF]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FieldingOF
CREATE   VIEW [dbo].[vw_Orphan_Player_FieldingOF] AS
SELECT DISTINCT 'FieldingOF' AS table_name, f.playerID, f.yearID, NULL AS teamID, NULL AS lgID
FROM dbo.FieldingOF f
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = f.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_FieldingOFsplit]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FieldingOFsplit
CREATE   VIEW [dbo].[vw_Orphan_Player_FieldingOFsplit] AS
SELECT DISTINCT 'FieldingOFsplit' AS table_name, f.playerID, f.yearID, f.teamID, f.lgID
FROM dbo.FieldingOFsplit f
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = f.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_Appearances]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Appearances
CREATE   VIEW [dbo].[vw_Orphan_Player_Appearances] AS
SELECT DISTINCT 'Appearances' AS table_name, a.playerID, a.yearID, a.teamID, a.lgID
FROM dbo.Appearances a
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = a.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_Managers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Managers
CREATE   VIEW [dbo].[vw_Orphan_Player_Managers] AS
SELECT DISTINCT 'Managers' AS table_name, m.playerID, m.yearID, m.teamID, m.lgID
FROM dbo.Managers m
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = m.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_AllStarFull]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- AllStarFull
CREATE   VIEW [dbo].[vw_Orphan_Player_AllStarFull] AS
SELECT DISTINCT 'AllStarFull' AS table_name, a.playerID, a.YearID AS yearID, a.teamID, a.lgID
FROM dbo.AllStarFull a
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = a.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_BattingPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Postseason: BattingPost
CREATE   VIEW [dbo].[vw_Orphan_Player_BattingPost] AS
SELECT DISTINCT 'BattingPost' AS table_name, b.playerID, b.yearID, b.teamID, b.lgID
FROM dbo.BattingPost b
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = b.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_PitchingPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Postseason: PitchingPost
CREATE   VIEW [dbo].[vw_Orphan_Player_PitchingPost] AS
SELECT DISTINCT 'PitchingPost' AS table_name, p.playerID, p.yearID, p.teamID, p.lgID
FROM dbo.PitchingPost p
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = p.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_FieldingPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Postseason: FieldingPost
CREATE   VIEW [dbo].[vw_Orphan_Player_FieldingPost] AS
SELECT DISTINCT 'FieldingPost' AS table_name, f.playerID, f.yearID, f.teamID, f.lgID
FROM dbo.FieldingPost f
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = f.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_ManagersHalf]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ManagersHalf
CREATE   VIEW [dbo].[vw_Orphan_Player_ManagersHalf] AS
SELECT DISTINCT 'ManagersHalf' AS table_name, m.playerID, m.yearID, m.teamID, m.lgID
FROM dbo.ManagersHalf m
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = m.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_AwardsManagers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Awards (Managers/Players & Share tables)
CREATE   VIEW [dbo].[vw_Orphan_Player_AwardsManagers] AS
SELECT DISTINCT 'AwardsManagers' AS table_name, a.playerID, a.yearID, NULL AS teamID, a.lgID
FROM dbo.AwardsManagers a
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = a.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_AwardsPlayers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_Orphan_Player_AwardsPlayers] AS
SELECT DISTINCT 'AwardsPlayers' AS table_name, a.playerID, a.yearID, NULL AS teamID, a.lgID
FROM dbo.AwardsPlayers a
WHERE NOT EXISTS (SELECT 1 FROM dbo.People x WHERE x.playerID = a.playerID);
GO
/****** Object:  View [dbo].[vw_Orphan_Player_All]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- MASTER: all player orphans
CREATE   VIEW [dbo].[vw_Orphan_Player_All] AS
SELECT * FROM dbo.vw_Orphan_Player_Batting UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_Pitching UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_Fielding UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_FieldingOF UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_FieldingOFsplit UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_Appearances UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_Managers UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_AllStarFull UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_BattingPost UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_PitchingPost UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_FieldingPost UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_ManagersHalf UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_AwardsManagers UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_AwardsPlayers UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_AwardsShareManagers UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_AwardsSharePlayers UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_HallOfFame UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_CollegePlaying UNION ALL
SELECT * FROM dbo.vw_Orphan_Player_Salaries;
GO
/****** Object:  View [dbo].[vw_Orphan_Team_Batting]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Batting
CREATE   VIEW [dbo].[vw_Orphan_Team_Batting] AS
SELECT DISTINCT 'Batting' AS table_name, b.yearID, b.lgID, b.teamID
FROM dbo.Batting b
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = b.yearID AND t.teamID = b.teamID AND t.lgID = b.lgID
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_Pitching]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Pitching
CREATE   VIEW [dbo].[vw_Orphan_Team_Pitching] AS
SELECT DISTINCT 'Pitching' AS table_name, p.yearID, p.lgID, p.teamID
FROM dbo.Pitching p
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = p.yearID AND t.teamID = p.teamID AND t.lgID = p.lgID
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_Fielding]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Fielding
CREATE   VIEW [dbo].[vw_Orphan_Team_Fielding] AS
SELECT DISTINCT 'Fielding' AS table_name, f.yearID, f.lgID, f.teamID
FROM dbo.Fielding f
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = f.yearID AND t.teamID = f.teamID AND t.lgID = f.lgID
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_FieldingOFsplit]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FieldingOFsplit
CREATE   VIEW [dbo].[vw_Orphan_Team_FieldingOFsplit] AS
SELECT DISTINCT 'FieldingOFsplit' AS table_name, f.yearID, f.lgID, f.teamID
FROM dbo.FieldingOFsplit f
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = f.yearID AND t.teamID = f.teamID AND t.lgID = f.lgID
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_Appearances]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Appearances
CREATE   VIEW [dbo].[vw_Orphan_Team_Appearances] AS
SELECT DISTINCT 'Appearances' AS table_name, a.yearID, a.lgID, a.teamID
FROM dbo.Appearances a
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = a.yearID AND t.teamID = a.teamID AND t.lgID = a.lgID
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_Managers]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Managers
CREATE   VIEW [dbo].[vw_Orphan_Team_Managers] AS
SELECT DISTINCT 'Managers' AS table_name, m.yearID, m.lgID, m.teamID
FROM dbo.Managers m
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = m.yearID AND t.teamID = m.teamID AND t.lgID = m.lgID
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_AllStarFull]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- AllStarFull
CREATE   VIEW [dbo].[vw_Orphan_Team_AllStarFull] AS
SELECT DISTINCT 'AllStarFull' AS table_name, a.YearID AS yearID, a.lgID, a.teamID
FROM dbo.AllStarFull a
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = CASE WHEN a.yearID IN (1937,1939) AND a.lgID IN ('EAS','WES','NOS','SAS','NNN','NNS') THEN t.yearID ELSE a.YearID END AND t.teamID = CASE WHEN a.yearID IN (1937,1939) AND a.teamID = 'SAS' THEN t.teamID ELSE a.teamID END AND t.lgID = CASE WHEN a.lgID IN ('EAS','WES','NOS','SAS','NNN','NNS') THEN t.lgID ELSE a.lgID END
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_BattingPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Postseason: BattingPost
CREATE   VIEW [dbo].[vw_Orphan_Team_BattingPost] AS
SELECT DISTINCT 'BattingPost' AS table_name, b.yearID, b.lgID, b.teamID
FROM dbo.BattingPost b
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = b.yearID AND t.teamID = b.teamID AND t.lgID = b.lgID
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_PitchingPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Postseason: PitchingPost
CREATE   VIEW [dbo].[vw_Orphan_Team_PitchingPost] AS
SELECT DISTINCT 'PitchingPost' AS table_name, p.yearID, p.lgID, p.teamID
FROM dbo.PitchingPost p
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = p.yearID AND t.teamID = p.teamID AND t.lgID = p.lgID
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_FieldingPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Postseason: FieldingPost
CREATE   VIEW [dbo].[vw_Orphan_Team_FieldingPost] AS
SELECT DISTINCT 'FieldingPost' AS table_name, f.yearID, f.lgID, f.teamID
FROM dbo.FieldingPost f
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = f.yearID AND t.teamID = f.teamID AND t.lgID = f.lgID
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_ManagersHalf]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ManagersHalf
CREATE   VIEW [dbo].[vw_Orphan_Team_ManagersHalf] AS
SELECT DISTINCT 'ManagersHalf' AS table_name, m.yearID, m.lgID, m.teamID
FROM dbo.ManagersHalf m
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = m.yearID AND t.teamID = m.teamID AND t.lgID = m.lgID
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_TeamsHalf]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TeamsHalf (self-consistency with Teams)
CREATE   VIEW [dbo].[vw_Orphan_Team_TeamsHalf] AS
SELECT DISTINCT 'TeamsHalf' AS table_name, th.yearID, th.lgID, th.teamID
FROM dbo.TeamsHalf th
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = th.yearID AND t.teamID = th.teamID AND t.lgID = th.lgID
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_Salaries]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Salaries
CREATE   VIEW [dbo].[vw_Orphan_Team_Salaries] AS
SELECT DISTINCT 'Salaries' AS table_name, s.yearID, s.lgID, s.teamID
FROM dbo.Salaries s
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = s.yearID AND t.teamID = s.teamID AND t.lgID = s.lgID
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_HomeGames]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- HomeGames (maps *key columns to Teams)
CREATE   VIEW [dbo].[vw_Orphan_Team_HomeGames] AS
SELECT DISTINCT 'HomeGames' AS table_name,
       h.yearkey AS yearID, h.leaguekey AS lgID, h.teamkey AS teamID
FROM dbo.HomeGames h
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = h.yearkey AND t.teamID = h.teamkey AND t.lgID = h.leaguekey
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_SeriesPost]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SeriesPost (winner and loser must both exist in Teams)
CREATE   VIEW [dbo].[vw_Orphan_Team_SeriesPost] AS
SELECT DISTINCT 'SeriesPost (winner)' AS table_name, s.yearID, s.lgIDwinner AS lgID, s.teamIDwinner AS teamID
FROM dbo.SeriesPost s
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = s.yearID AND t.teamID = s.teamIDwinner AND t.lgID = s.lgIDwinner
)
UNION ALL
SELECT DISTINCT 'SeriesPost (loser)', s.yearID, s.lgIDloser, s.teamIDloser
FROM dbo.SeriesPost s
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Teams t
    WHERE t.yearID = s.yearID AND t.teamID = s.teamIDloser AND t.lgID = s.lgIDloser
);
GO
/****** Object:  View [dbo].[vw_Orphan_Team_All]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- MASTER: all team orphans
CREATE   VIEW [dbo].[vw_Orphan_Team_All] AS
SELECT * FROM dbo.vw_Orphan_Team_Batting UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_Pitching UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_Fielding UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_FieldingOFsplit UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_Appearances UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_Managers UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_AllStarFull UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_BattingPost UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_PitchingPost UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_FieldingPost UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_ManagersHalf UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_TeamsHalf UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_Salaries UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_HomeGames UNION ALL
SELECT * FROM dbo.vw_Orphan_Team_SeriesPost;
GO
/****** Object:  View [dbo].[vw_DataQuality_Summary]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     VIEW [dbo].[vw_DataQuality_Summary] AS
SELECT 'Orphan_People' AS check_group, COUNT(*) AS issue_count, 'SELECT * FROM vw_Orphan_Player_All' AS [query] FROM dbo.vw_Orphan_Player_All
UNION ALL
SELECT 'Orphan_Teams', COUNT(*), 'SELECT * FROM vw_Orphan_Team_All' FROM dbo.vw_Orphan_Team_All
UNION ALL
SELECT 'Duplicate_Keys', SUM([dup_groups]), 'SELECT * FROM vw_Duplicate_All' FROM dbo.vw_Duplicate_All
UNION ALL
SELECT 'Chronological', SUM(issue_count), 'SELECT * FROM vw_Errors_Chrono' FROM dbo.vw_Errors_Chrono
UNION ALL
SELECT 'Statistical', SUM(issue_count), 'SELECT * FROM vw_Errors_Stats' FROM dbo.vw_Errors_Stats
UNION ALL
SELECT 'Coverage', SUM(issue_count), 'SELECT * FROM vw_Errors_Missing' FROM dbo.vw_Errors_Missing
GO
/****** Object:  View [dbo].[vw_standardized_city]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_standardized_city] AS
WITH [country] AS (
SELECT
	 [country]
	,[country_no_diacritics]
	,COUNT(*) AS [count]
	,ROW_NUMBER() OVER(PARTITION BY [country_no_diacritics] ORDER BY COUNT(*) DESC) AS [rank]
FROM (
SELECT
	 [birthCountry] AS [country]
	,LOWER(TRANSLATE([birthCountry],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [country_no_diacritics]
FROM [dbo].[People] 
UNION ALL 
SELECT
	 [deathCountry] AS [country]
	,LOWER(TRANSLATE([deathCountry],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [country_no_diacritics]
FROM [dbo].[People]
) x
WHERE [country] IS NOT NULL
GROUP BY 
	 [country]
	,[country_no_diacritics]
), [state] AS (

SELECT
	 [state]
	,[country]
	,[state_no_diacritics]
	,[country_no_diacritics]
	,COUNT(*) AS [count]
	,ROW_NUMBER() OVER(PARTITION BY [state_no_diacritics],[country_no_diacritics] ORDER BY COUNT(*) DESC) AS [rank]
FROM (
SELECT
	 [birthState] AS [state]
	,[birthCountry] AS [country]
	,LOWER(TRANSLATE([birthState],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [state_no_diacritics]
	,LOWER(TRANSLATE([birthCountry],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [country_no_diacritics]
FROM [dbo].[People] 
UNION ALL 
SELECT
	 [deathState] AS [state]
	,[deathCountry] AS [country]
	,LOWER(TRANSLATE([deathState],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [state_no_diacritics]
	,LOWER(TRANSLATE([deathCountry],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [country_no_diacritics]
FROM [dbo].[People]
) x
WHERE [state] IS NOT NULL
GROUP BY 
	 [state]
	,[country]
	,[state_no_diacritics]
	,[country_no_diacritics]
), [city] AS (
SELECT
	 [city]
	,[state]
	,[country]
	,[city_no_diacritics]
	,[state_no_diacritics]
	,[country_no_diacritics]
	,COUNT(*) AS [count]
	,ROW_NUMBER() OVER(PARTITION BY [city_no_diacritics],[state_no_diacritics],[country_no_diacritics] ORDER BY COUNT(*) DESC) AS [rank]
FROM (
SELECT
	 [birthCity] AS [city]
	,[birthState] AS [state]
	,[birthCountry] AS [country]
	,LOWER(TRANSLATE([birthCity],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [city_no_diacritics]
	,LOWER(TRANSLATE([birthState],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [state_no_diacritics]
	,LOWER(TRANSLATE([birthCountry],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [country_no_diacritics]
FROM [dbo].[People] 
UNION ALL 
SELECT
	 [deathCity] AS [city]
	,[deathState] AS [state]
	,[deathCountry] AS [country]
	,LOWER(TRANSLATE([deathCity],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [city_no_diacritics]
	,LOWER(TRANSLATE([deathState],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [state_no_diacritics]
	,LOWER(TRANSLATE([deathCountry],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [country_no_diacritics]
FROM [dbo].[People]
) x
WHERE [city] IS NOT NULL
GROUP BY 
	 [city]
	,[state]
	,[country]
	,[city_no_diacritics]
	,[state_no_diacritics]
	,[country_no_diacritics]
) SELECT DISTINCT TOP 100000
c.[city_no_diacritics]
,s.[state_no_diacritics]
,ct.[country_no_diacritics]
,c.[city]
,c.[state]
,ct.[country]
,c.[count]
,c.[rank]
FROM (SELECT * FROM [city] WHERE [RANK] = 1) c LEFT JOIN (SELECT * FROM [state] WHERE [RANK] = 1) s ON c.[state_no_diacritics] = s.[state_no_diacritics] LEFT JOIN (SELECT * FROM [country] WHERE [RANK] = 1) ct ON ct.[country_no_diacritics] = c.[country_no_diacritics]
ORDER BY
c.[city_no_diacritics]
,s.[state_no_diacritics]
,ct.[country_no_diacritics]
GO
/****** Object:  View [dbo].[vw_standardized_state]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_standardized_state] AS
WITH [country] AS (
SELECT
	 [country]
	,[country_no_diacritics]
	,COUNT(*) AS [count]
	,ROW_NUMBER() OVER(PARTITION BY [country_no_diacritics] ORDER BY COUNT(*) DESC) AS [rank]
FROM (
SELECT
	 [birthCountry] AS [country]
	,LOWER(TRANSLATE([birthCountry],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [country_no_diacritics]
FROM [dbo].[People] 
UNION ALL 
SELECT
	 [deathCountry] AS [country]
	,LOWER(TRANSLATE([deathCountry],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [country_no_diacritics]
FROM [dbo].[People]
) x
WHERE [country] IS NOT NULL
GROUP BY 
	 [country]
	,[country_no_diacritics]
), [state] AS (

SELECT
	 [state]
	,[country]
	,[state_no_diacritics]
	,[country_no_diacritics]
	,COUNT(*) AS [count]
	,ROW_NUMBER() OVER(PARTITION BY [state_no_diacritics],[country_no_diacritics] ORDER BY COUNT(*) DESC) AS [rank]
FROM (
SELECT
	 [birthState] AS [state]
	,[birthCountry] AS [country]
	,LOWER(TRANSLATE([birthState],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [state_no_diacritics]
	,LOWER(TRANSLATE([birthCountry],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [country_no_diacritics]
FROM [dbo].[People] 
UNION ALL 
SELECT
	 [deathState] AS [state]
	,[deathCountry] AS [country]
	,LOWER(TRANSLATE([deathState],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [state_no_diacritics]
	,LOWER(TRANSLATE([deathCountry],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [country_no_diacritics]
FROM [dbo].[People]
) x
WHERE [state] IS NOT NULL
GROUP BY 
	 [state]
	,[country]
	,[state_no_diacritics]
	,[country_no_diacritics]
) SELECT DISTINCT TOP 100000
 s.[state_no_diacritics]
,ct.[country_no_diacritics]
,s.[state]
,ct.[country]
,s.[count]
,s.[rank]
FROM (SELECT * FROM [state] WHERE [RANK] = 1) s LEFT JOIN (SELECT * FROM [country] WHERE [RANK] = 1) ct ON ct.[country_no_diacritics] = s.[country_no_diacritics]
ORDER BY
 s.[state_no_diacritics]
,ct.[country_no_diacritics]
GO
/****** Object:  View [dbo].[vw_standardized_country]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_standardized_country] AS
WITH [country] AS (
SELECT
	 [country]
	,[country_no_diacritics]
	,COUNT(*) AS [count]
	,ROW_NUMBER() OVER(PARTITION BY [country_no_diacritics] ORDER BY COUNT(*) DESC) AS [rank]
FROM (
SELECT
	 [birthCountry] AS [country]
	,LOWER(TRANSLATE([birthCountry],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [country_no_diacritics]
FROM [dbo].[People] 
UNION ALL 
SELECT
	 [deathCountry] AS [country]
	,LOWER(TRANSLATE([deathCountry],N'ÁÀÂÄÃÅáàâäãåÉÈÊËéèêëÍÌÎÏíìîïÓÒÔÖÕØóòôöõøÚÙÛÜúùûüÑñÇç','AAAAAAaaaaaaEEEEeeeeIIIIiiiiOOOOOOooooooUUUUuuuuNnCc')) AS [country_no_diacritics]
FROM [dbo].[People]
) x
WHERE [country] IS NOT NULL
GROUP BY 
	 [country]
	,[country_no_diacritics]
) SELECT DISTINCT TOP 100000
 ct.[country_no_diacritics]
,ct.[country]
,ct.[count]
,ct.[rank]
FROM (SELECT * FROM [country] WHERE [RANK] = 1) ct
ORDER BY
 ct.[country_no_diacritics]
GO
/****** Object:  View [dbo].[vw_Orphan_Player_Counts]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Quick counts
CREATE   VIEW [dbo].[vw_Orphan_Player_Counts] AS
SELECT table_name, COUNT(*) AS orphan_rows
FROM dbo.vw_Orphan_Player_All
GROUP BY table_name
GO
/****** Object:  View [dbo].[vw_Orphan_Team_Counts]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Quick counts
CREATE   VIEW [dbo].[vw_Orphan_Team_Counts] AS
SELECT table_name, COUNT(*) AS orphan_rows
FROM dbo.vw_Orphan_Team_All
GROUP BY table_name
GO
/****** Object:  View [dbo].[vw_Orphan_All_Counts]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_Orphan_All_Counts] AS
SELECT 'People' AS fk_target, table_name, orphan_rows
FROM dbo.vw_Orphan_Player_Counts
UNION ALL
SELECT 'Teams', table_name, orphan_rows
FROM dbo.vw_Orphan_Team_Counts
GO
/****** Object:  Table [dbo].[TeamsFranchises]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamsFranchises](
	[franchID] [nvarchar](4) NOT NULL,
	[franchName] [nvarchar](100) NULL,
	[active] [nvarchar](2) NULL,
	[NAassoc] [nvarchar](4) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_TeamsFranchises_franchID]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE CLUSTERED INDEX [CX_TeamsFranchises_franchID] ON [dbo].[TeamsFranchises]
(
	[franchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Duplicate_TeamsFranchises]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TeamFranchises: franchID
CREATE   VIEW [dbo].[vw_Duplicate_TeamsFranchises] AS
SELECT franchID, COUNT(*) AS dup_count
FROM dbo.TeamsFranchises
GROUP BY franchID
HAVING COUNT(*) > 1;
GO
/****** Object:  View [dbo].[vw_Duplicate_Parks]    Script Date: 2/26/2026 10:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Parks: parkkey
CREATE   VIEW [dbo].[vw_Duplicate_Parks] AS
SELECT parkkey, COUNT(*) AS dup_count
FROM dbo.Parks
GROUP BY parkkey
HAVING COUNT(*) > 1;
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AllstarFull_year_game]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_AllstarFull_year_game] ON [dbo].[AllstarFull]
(
	[yearID] ASC,
	[gameID] ASC
)
INCLUDE([playerID],[teamID],[lgID],[GP],[startingPos]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Appearances_team_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Appearances_team_year] ON [dbo].[Appearances]
(
	[teamID] ASC,
	[yearID] ASC
)
INCLUDE([playerID],[G_all],[GS],[G_p],[G_c],[G_1b],[G_2b],[G_3b],[G_ss],[G_lf],[G_cf],[G_rf],[G_of],[G_dh]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AwardsManagers_award_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_AwardsManagers_award_year] ON [dbo].[AwardsManagers]
(
	[awardID] ASC,
	[yearID] ASC
)
INCLUDE([playerID],[lgID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AwardsPlayers_award_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_AwardsPlayers_award_year] ON [dbo].[AwardsPlayers]
(
	[awardID] ASC,
	[yearID] ASC
)
INCLUDE([playerID],[lgID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AwardsShareManagers_award_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_AwardsShareManagers_award_year] ON [dbo].[AwardsShareManagers]
(
	[awardID] ASC,
	[yearID] ASC
)
INCLUDE([lgID],[pointsWon],[pointsMax],[votesFirst]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AwardsSharePlayers_award_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_AwardsSharePlayers_award_year] ON [dbo].[AwardsSharePlayers]
(
	[awardID] ASC,
	[yearID] ASC
)
INCLUDE([lgID],[pointsWon],[pointsMax],[votesFirst]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Batting_team_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Batting_team_year] ON [dbo].[Batting]
(
	[teamID] ASC,
	[yearID] ASC
)
INCLUDE([playerID],[G],[AB],[H],[HR],[BB],[SO],[R],[RBI]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Batting_year_team]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Batting_year_team] ON [dbo].[Batting]
(
	[yearID] ASC,
	[teamID] ASC
)
INCLUDE([playerID],[G],[AB],[H],[HR],[BB],[SO],[R],[RBI]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BattingPost_team_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_BattingPost_team_year] ON [dbo].[BattingPost]
(
	[teamID] ASC,
	[yearID] ASC
)
INCLUDE([playerID],[G],[AB],[H],[HR],[RBI]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CollegePlaying_school]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_CollegePlaying_school] ON [dbo].[CollegePlaying]
(
	[schoolID] ASC
)
INCLUDE([playerID],[yearID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Fielding_team_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Fielding_team_year] ON [dbo].[Fielding]
(
	[teamID] ASC,
	[yearID] ASC
)
INCLUDE([playerID],[POS],[G],[GS],[InnOuts],[PO],[A],[E],[DP],[ZR]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Fielding_year_pos]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Fielding_year_pos] ON [dbo].[Fielding]
(
	[yearID] ASC,
	[POS] ASC
)
INCLUDE([playerID],[teamID],[G],[GS],[PO],[A],[E]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FieldingOFsplit_team_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_FieldingOFsplit_team_year] ON [dbo].[FieldingOFsplit]
(
	[teamID] ASC,
	[yearID] ASC
)
INCLUDE([playerID],[POS],[G],[GS]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FieldingPost_team_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_FieldingPost_team_year] ON [dbo].[FieldingPost]
(
	[teamID] ASC,
	[yearID] ASC
)
INCLUDE([playerID],[POS],[G],[GS],[PO],[A],[E]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HallOfFame_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_HallOfFame_year] ON [dbo].[HallOfFame]
(
	[yearid] ASC
)
INCLUDE([playerID],[inducted],[category],[votes],[ballots]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HomeGames_park]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_HomeGames_park] ON [dbo].[HomeGames]
(
	[parkkey] ASC
)
INCLUDE([yearkey],[teamkey],[games],[attendance]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Managers_player]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Managers_player] ON [dbo].[Managers]
(
	[playerID] ASC
)
INCLUDE([yearID],[teamID],[W],[L],[rank]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ManagersHalf_player]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_ManagersHalf_player] ON [dbo].[ManagersHalf]
(
	[playerID] ASC
)
INCLUDE([yearID],[teamID],[W],[L],[rank]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Parks_city_state]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Parks_city_state] ON [dbo].[Parks]
(
	[city] ASC,
	[state] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Parks_parkkey]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Parks_parkkey] ON [dbo].[Parks]
(
	[parkkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Parks_parkname]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Parks_parkname] ON [dbo].[Parks]
(
	[parkname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_People_bbrefID]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_People_bbrefID] ON [dbo].[People]
(
	[bbrefID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_People_retroID]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_People_retroID] ON [dbo].[People]
(
	[retroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pitching_team_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pitching_team_year] ON [dbo].[Pitching]
(
	[teamID] ASC,
	[yearID] ASC
)
INCLUDE([playerID],[G],[GS],[SV],[ERA],[IPouts],[H],[ER],[HR],[BB],[SO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pitching_year_team]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pitching_year_team] ON [dbo].[Pitching]
(
	[yearID] ASC,
	[teamID] ASC
)
INCLUDE([playerID],[G],[GS],[SV],[ERA],[IPouts],[H],[ER],[HR],[BB],[SO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PitchingPost_team_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_PitchingPost_team_year] ON [dbo].[PitchingPost]
(
	[teamID] ASC,
	[yearID] ASC
)
INCLUDE([playerID],[G],[GS],[SV],[IPouts],[H],[ER],[HR],[BB],[SO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Salaries_team_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Salaries_team_year] ON [dbo].[Salaries]
(
	[teamID] ASC,
	[yearID] ASC
)
INCLUDE([playerID],[salary]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Salaries_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Salaries_year] ON [dbo].[Salaries]
(
	[yearID] ASC
)
INCLUDE([teamID],[playerID],[salary]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SeriesPost_loser]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeriesPost_loser] ON [dbo].[SeriesPost]
(
	[teamIDloser] ASC,
	[yearID] ASC
)
INCLUDE([lgIDloser],[wins],[losses]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SeriesPost_winner]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeriesPost_winner] ON [dbo].[SeriesPost]
(
	[teamIDwinner] ASC,
	[yearID] ASC
)
INCLUDE([lgIDwinner],[wins],[losses]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Teams_lg_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Teams_lg_year] ON [dbo].[Teams]
(
	[lgID] ASC,
	[yearID] ASC
)
INCLUDE([teamID],[W],[L],[R],[RA],[HR],[BB],[SO],[ERA],[attendance]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Teams_team]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Teams_team] ON [dbo].[Teams]
(
	[teamID] ASC
)
INCLUDE([yearID],[name],[lgID],[W],[L]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TeamsHalf_lg_year]    Script Date: 2/26/2026 10:12:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeamsHalf_lg_year] ON [dbo].[TeamsHalf]
(
	[lgID] ASC,
	[yearID] ASC
)
INCLUDE([teamID],[W],[L],[Rank]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
